<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII">
  <meta name="viewport" content="width=device-width,height=device-height initial-scale=0.86">
  <title>{% block title %}{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito:400" rel="stylesheet" type="text/css">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="row center">
    <h2 class="col c3"><a href="/blog/1">Blog</a></h2>
    <h2 class="col c6"><a href="/">Peyton&nbsp; Farrar&nbsp;</a></h2>
    <h2 class="col c3"><a href="https://github.com/Peytonien">Github</a></h2>
  </div>
  {% block content %} {% endblock %}
</body>
</html>
