body {
	font: 16px sans-serif;
	font-family: 'Metrophobic', Arial, serif; font-weight: 400;
	background-color: #EFEFEF;
	height: 100%;
}

.dark {
	background-color: #1A1A1A;
}

h2 {
	font-size: 2em;
}

a {	
	color: #2C82C9;
	text-decoration: none;
    -webkit-transition: 0.2s ease;
            transition: 0.2s ease;
}
a:hover {
	color: #36454F;
	-webkit-transition: 0.2s ease;
            transition: 0.2s ease;
}

.header, .header h2 a {
    font-family: 'Nunito', sans-serif; font-weight: 400;
}

.content {
	position: relative;
	margin: 1% 25% 25%; 
	width: 50%;
	color: #000;
	line-height: 25px;
}

.largeImage {
	position: relative;
	left: 5%;
	max-width: 90%;
}

.postlist {
	margin: auto;
}

ul {
	padding: 0px;
	list-style-type: none;
}

.center {
    text-align: center;
}

.row {
    margin: 1% 0px;
    overflow: hidden;
}

.col {
    float: left;
	min-height: 1px;
}

.c6 {
	width:50%
}

.c3 {
	width: 25%;
}

code {
	font-family: 'Metrophobic', Arial, serif; font-weight: 400;
	color: #FFF;
	background-color: #36454F;
	border-radius: 3px;
	padding: 2px;
}
