body {
    font-family: Helvetica, sans-serif;
    background-color: #F6F6F6;
    height: 100%;
    color: #090909;
}

.dark {
    background-color: #1A1A1A;
}

/* General Styling */
h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 2em;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.3em;
    font-weight: normal;
}

a {
    color: #2C82C9;
    text-decoration: none;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}

a:hover {
    color: #36454F;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}

hr {
    border: 0;
    height: 3px;
    background: #454545;
}

.content {
    margin: 1% 10%;
    line-height: 25px;
}

@media only screen and (max-width: 500px) {
    .content {
        margin: 1% 5%;
    }
    .cols {
        margin-left: 25%;
    }
}

ul {
    padding: 0px;
    list-style-type: none;
}

.center {
    text-align: center;
}

/* Grid */

.row {
    margin: 1% 0px;
    overflow: hidden;
}
.col, .cols {
    float: left;
    min-height: 1px;
}

.c6 {
    width: 50%;
}
.c4 {
    width: 33.33%;
}
.c3 {
    width: 25%;
}
.c2 {
    width: 16.66%;
}
.c1 {
    width: 8.33%;
}

/* Misc */

.largeImage {
    position: relative;
    left: 5%;
    max-width: 90%;
}

code {
    display: inline-block;
    word-wrap: break-word;
    white-space: pre-wrap;
    border-left: 3px solid #454545;
    width: 100%;
    background-color: #FBFBFB;
    padding-left: 8px;
}

.alert-error {
    border-radius: 4px;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    margin-bottom: 10px;
}

.alert-text {
    white-space: pre;
}

input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    mont-size: 14px;
    height: 17px;
    padding: 3px 6px;
    width: 250px;
}

textarea {
    font-family: Helvetica, sans-serif;
    margin-top: 5px;
    padding: 3px 6px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

label {
    display: block;
}

button {
    display: block;
    background-color: #FFF;
    border-radius: 4px;
    margin-top: 10px;
    padding: 3px 6px;
    border: 1px solid #ccc;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}
button:hover {
    background-color: #EFEFEF;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}