{% extends "layouts/default.html" %}
{% block title %}Blog{% endblock %}
{% block content %}
<div class="content">
  <ul>
    {% for post in posts %}
    <li>{{ post.date|date }} >>
      <a href="/blog/post/{{ post.id }}">{{ post.subject }}</a>
    </li>
    {% endfor %}

    {% if previous %}
    <a href="{{ previous }}"><em>Previous</em></a>
    {% endif %}

    {% if previous and next %} | {% endif %}

    {% if next %}
    <a href="{{ next }}"><em>Next</em></a>
    {% endif %}
  </ul>
  <a href="/rss">RSS</a>
</div>
{% endblock %}
