{% extends "layouts/default.html" %}
{% block title %}Peyton Farrar{% endblock %}
{% block content %}
<div class="content center">
  <h3>About</h3>
  <p>A site dedicated to nothing in particular</p>
  <h3>Pages of Interest</h3>
  <ul>
    <li><a href="/daily">Daily</a> &mdash; My attempt at being productive</li>
    <li><a href="/blog/1">Blog</a> &mdash; Miscellaneous rambling</li>
  </ul>
  <h3>Contact</h3>
  <p>Email: <a href="mailto:peyton@peytonfarrar.com">Peyton@peytonfarrar.com</a></p>
</div>
{% endblock %}
