{% extends "layouts/default.html" %}
{% block title %}New Post{% endblock %}
{% block content %}
<div class="content">
  <h2>{{ title }}</h2>
  <form action="{{ page }}" method="post">
    <input placeholder="Subject" type="text" name="subject" value="{{ subject }}" required/>
    <textarea placeholname="content" name="content" rows="15" cols="20">{{ content }}</textarea>
    <input placeholder="Tags" type="text" name="tags" value="{{ tags }}"/>
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}
